.menu {
  color: aqua;
  display: grid;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}
.open {
  background-color: cornflowerblue;
  width: 40%;
  transition: width 2s;
}
.menuItem,
.closed {
  background-color: sandybrown;
  width: 0;
  opacity: 0;
  transition: width 2s, opacity 1s;
}
.menuItem,
.open {
  opacity: 1;
}
