.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}
.menuButton {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  justify-content: end;
  padding: 1rem;
  background-color: white;
  position: sticky;
  top: 0;
}
.nameGrid,
.buttonGrid {
  display: grid;
  align-items: center;
  width: 100%;
}
.name {
  margin: 0;
  font-weight: normal;
  font-size: 2rem;
}
.nameGrid {
  justify-content: start;
}
.buttonGrid {
  justify-content: end;
}
.buttonStyles {
  width: 3rem;
  font-size: 2rem;
  border: none;
  margin: 0 auto;
  background-color: lightgray;
}
.menu {
  color: black;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  top: 4.3rem;
}
.grid {
  display: grid;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
  justify-items: center;
}
.open {
  width: 100%;
  opacity: 1;
}
.closed {
  width: 0;
  opacity: 0;
  padding: 0;
}
.open,
.closed {
  background-color: lightgray;
  transition: width 2s, opacity 1s;
}
.menuItem {
  color: grey;
  font-weight: bold;
  cursor: pointer;
}
.menuItem:hover {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid blue;
  transition: border-bottom 0.5s;
}
@media (min-width: 40rem) {
  .buttonGrid,
  .open,
  .closed {
    display: none;
  }
  .menu {
    position: fixed;
    display: contents;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 1.5rem;
  }
  .menuButton {
    width: 90%;
    margin: 0 auto;
  }
  .leftAlign {
    width: 100%;
  }
  .grid {
    justify-items: end;
  }
}
@media (min-width: 80rem) {
  .menuButton {
    width: 80%;
  }
  .leftAlign {
    width: 80%;
  }
}
@media (min-width: 120rem) {
  .menuButton {
    width: 70%;
  }
}
