.menu {
  color: aqua;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}
.menuButton {
  display: grid;
  justify-items: center;
  justify-content: start;
  padding: 0.5rem;
  background-color: azure;
  font-size: x-large;
}
.grid {
  display: grid;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}
.open {
  width: 40%;
  opacity: 1;
}
.closed {
  width: 0;
  opacity: 0;
}
.open,
.closed {
  background-color: cornflowerblue;
  height: 100vh;
  transition: width 2s, opacity 1s;
}
.menu .closed {
  display: none;
}
