.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media (min-width: 40rem) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
