.container {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}
.AboutTitle {
  display: grid;
  justify-items: center;
}
.aboutWho {
  font-size: 0.8rem;
  margin-bottom: 0rem;
}
.aboutH1 {
  color: #427d86;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2.5rem;
}
.aboutGrid {
  display: grid;
  margin-bottom: 1rem;
}
.aboutImage {
  max-width: 100%;
  margin: 0.5rem;
}
.cardImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
.aboutText {
  margin: 0.5rem;
}
.textHighlight {
  color: #427d86;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.textLow {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
@media (min-width: 40rem) {
  .container {
    display: block;
    justify-content: none;
    align-content: none;
    margin: 0;
  }
  .aboutText {
    align-self: center;
    margin-left: 1rem;
  }
  .AboutTitle {
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  .aboutGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .aboutImage {
    margin: 0;
  }
  .textLow {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .textHighlight {
    color: #427d86;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
@media (min-width: 80rem) {
  .aboutGrid {
    width: 70%;
  }
  .aboutH1 {
    font-size: 3.5rem;
  }
  .textHighlight {
    font-size: 2rem;
  }
  .textLow {
    font-size: 1.35rem;
  }
}
